<footer class=" bg-white rounded-sm  m-2.5 border border-border2">
  <div class="flex justify-between items-center py-3">
    <div class="flex justify-center items-center mr-3">
      <img class="w-9 h-9 mt-1.5 ml-0.5" [src]="human" alt="">
      <div>
        <h4 class="text-gray-dark font-neo-sans-arabic font-normal text-sm">تم الأإنشاء بواسطة</h4>
        <h4 class="text-dark font-neo-sans-arabic font-normal text-sm">عبدالرحيم إسماعيل ناصف</h4>
      </div>
    </div>
    <div class="ml-3">
      <h4 class="text-gray-dark font-neo-sans-arabic font-normal text-sm">تاريخ الإنشاء</h4>
      <div class="flex justify-center items-center">
        <h4 class="text-dark font-poppins font-normal text-sm">01/12/2024</h4>
        <div class=" bg-[#E8E8E8] w-1.5 h-1.5 rounded-full mx-1"></div>
        <h4 class="text-dark font-poppins font-normal text-sm">04:30 <span class="font-neo-sans-arabic">م</span></h4>
      </div>
    </div>
  </div>
</footer>
