/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";



@theme {
  --color-primary: #3E97FF;
  --color-secondary: #48B29A;
  --color-gray-dark: #6B7280;
  --color-dark: #1C1C28;
  --color-gray-light: #7E8299;
  --color-danger: #FF4B55;
  --color-black: #333333;
  --color-light: #E8E8E8;
  --color-background-light: #F8F8F8;
  --color-background-gray: #F4F5F7;
  --color-border1: #E4E4E4;
  --color-border2: #ECF0F5;
  --color-line: #DFDFDF;
}



/* ~~~~~~~~~~~~~~~~~~~ Fonts ~~~~~~~~~~~~~~~~~~~ */
@theme {
  --font-neo-sans-arabic: "NeoSansArabic", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

/* ~~~~~~~~~~~~~~~~~~~ Neo Sans Arabic ~~~~~~~~~~~~~~~~~~~ */

@font-face {
  font-family: "NeoSansArabic";
  src: url("../public/assets/fonts/NeoSansArabic/NeoSansArabicLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NeoSansArabic";
  src: url("../public/assets/fonts/NeoSansArabic/NeoSansArabicRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NeoSansArabic";
  src: url("../public/assets/fonts/NeoSansArabic/NeoSansArabicMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}


/* ~~~~~~~~~~~~~~~~~~~ Poppins ~~~~~~~~~~~~~~~~~~~ */

@font-face {
  font-family: "Poppins";
  src: url("../public/assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}


.custom-scrollbar::-webkit-scrollbar {
  opacity: 0;
  width: 0px;
  height: 0px;
}
